<!--自己紹介モーダル-->
<!-- ボタン・リンククリック後に表示される画面の内容 -->
<% console.log(val.User.id)%>
    <% if(login.id == val.User.id){%>
        <% if(val != null){%>
            <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                <%= userName%>のプロフィール</h4>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form action="/users/profile" method="post">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="id" value="<%= login.id%>">
                                </div>
                                <div class="form-group">
                                    <label>名前：</label>
                                    <input type="text" class="form-control" name="" value="<%= userName%>">
                                </div>
                                <div class="form-group">
                                    <label>一言メッセージ：</label>
                                    <input type="text" class="form-control" name="words" value="<%= val.User.words%>">
                                    <%= console.log()%>
                                </div>
                                <div class="form-group">
                                    <label>好きなもの：</label>
                                    <input type="text" class="form-control" name="likes" value="<%= val.User.likes%>">
                                </div>
                                <input type="submit" class="btn btn-primary" value="保存">
                            </form>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
            <% }%>
                <% }else{%>
                    <% if(val != null){%>
                        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">
                                            <%= userName%>のプロフィール</h4>
                                        </h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label type="hidden" name="id" value="<%= login.id%>"></label>
                                        </div>
                                        <div class="form-group">
                                            <label>名前：<%= userName%></label>
                                        </div>
                                        <div class="form-group">
                                            <label>一言メッセージ：<%= val.User.words%></label>
                                        </div>
                                        <div class="form-group">
                                            <label>好きなもの： <%= val.User.likes%></label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                            <% }%>
                                <% }%>